/*
Author name: Caysen Hill
Date: 9/23/2022
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul, ol, article, section, aside, figure, figcaption {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */
body {
	/*background-color: #fff;*/
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
}

#over-sized {
	max-width: 40%;
}

#hero {
	border-radius: 8px;
	max-width: 20%;
}

/* Style rule for header */
header {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	background-color: #fff;
	margin-bottom: 1%;
}

/* Style rules for hamburger menu */
.mobile-nav a {
	color: #000;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	padding: 3%;
	display: block;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-top: 1px solid #000;

}

nav li:first-child {
	border-top: none;
}

nav li a {
	display: block;
	color: #000;
	padding: 0.5em 1em;
	text-decoration: none;
}

.mobile-nav a.menu-icon {
	display:block;
	position:absolute;
	right: 0;
	top: 0;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

#countries-of-whisky {
	display: block;
}

#types-of-whisky {
	display: none;
}

/* Style rules for main content */
main {
	clear: left;
	background-color: #8C001A;
	padding: 2%;
	font-size: 1.25em;
	text-align: center;
	color: #fff;
}

main ol {
	list-style-type: none;
}


main ul {
	list-style-type: none;
}


main li {
	font-weight: bold;
	margin: auto;
	text-align: center;
}

.tel-link{
	display: inline-block;
}

.tel-link a {
	color: #fff;
	text-decoration: none;
}

.map {
	border: 2px solid #000;
	width: 95%;
	height: 50%;
}

.email {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/* Style rules for form elements */
fieldset, input, select, textarea {
	margin-bottom: 2%;
}

fieldset legend {
	font-weight: bold;
}

label {
	display: block;
}

form #submit {
	margin: 0 auto;
	display: block;
	background-color: #fff;
	font-size: 1em;
	border-radius: 15px;
}

/*style rule for footer*/
footer {
	text-align: center;
	font-family: Verdana, Arial, sans-serif;
}

/* Tablet viewport media query */
@media screen and (min-width: 630px), print {
	
	/* Tablet Viewport: Show tablet-desktop class, hide mobile class */
	.tablet-desktop, #menu-links {
		display: none;
	}
	
	.mobile, .mobile-nav {
		display: block;
	}
	
	/*style rules for nav */
	nav {
	padding: 1%;
	margin-bottom: 1%;
	background-color: #fff;
}
	
	/* Tablet Viewport: Style rules for main content area */
	.map {
		width: 600px;
		height: 450px;
	}
	
	#types-of-whisky {
		display: block;
	}
	
	.tel-num {
		font-size: 1.25em;
	}
	
	figure {
		max-width: 75%;
	}
		
	.grid {
		display: grid;
		grid-template-columns: 33% 33% 33%;
		grid-gap: 20px;
	}
	
	.pic-text {
		font-size: 1em; 
		padding: 10px;
	}
	
	aside {
		text-align: center;
		font-size: 1.25em;
		font-style: italic;
		font-weight: bold;
		padding: 2%;
		box-shadow: 5px 5px 8px #000;
		text-shadow: 5px 5px 5px #000;
		grid-column: 1 / span 3;
		opacity: 80%;
	}
	
	/* Tablet Viewport: Style rules for table */
	table {
		border: 3px solid #000;
		border-collapse: collapse;
		margin: 0 auto;
		width: 100%;
	}
	
	caption {
		font-size: 1.5em;
		font-weight: bold;
		padding: 1%;
	}
	
	th, td {
		border: 1px solid #000;
		padding: 2%;
	}
	
	th {
		background-color: #8C001A;
		color: #fff;
		font-size: 1.15em;
	}
	
	tr:nth-child(even) {
		background-color: #fff;
		color: #000;
	}
	
	/* Tablet Viewport: Style rule for form element */
	form {
		width: 70%;
		margin: 0 auto;
	}
	
	/* Tablet Viewport: Animation */
	@-webkit-keyframes text-animation {
		0% { font-size: .25em; }
		50% { font-size: 1.4em; }
		100% { font-size: 1em; }
	}
	
	@keyframes text-animation { 
		0% { font-size: .25em; }
		50% { font-size: 1.4em; }
		100% { font-size: 1em; }
	}
		
	figcaption {
		-webkit-animation-name: text-animation;
		animation-name: text-animation;
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
		-webkit-animation-duration: 4s;
		animation-duration: 4s;
	}
	
}
	

/* Desktop viewport media query */
@media screen and (min-width: 1015px), print {
	
	/*show tablet-desktop hide mobile*/
	.tablet-desktop {
		display: block;
	}
	
	.mobile, .mobile-nav {
		display: none;
	}
	
	/* Desktop Viewport: Style rule for header */
	header {
		width: 25%;
		float: left;
		padding-bottom: 0;
	}
	
	/* Desktop Viewport: Style rules for nav area */
	nav {
		float: left;
		width: 70%;
	}
	
	nav ul {
		text-align: right;
	}
	
	nav li {
		border: none;
	}
	
	nav li a{
		padding: 0.5em 1em;
	}
	
	nav li a:hover {
		color: #fff;
		background-color: #000;
	}
	
	nav li a:active {
		color:#8C001A;
		background-color: #fff;
	}
	
	/* Desktop Viewport: Style Rules for main content */
	main {
		clear: left;
		padding: 0%;
	}
	
	.whisky {
		display: flex;
	}
	
	.align {
		flex: 1;
		background: radial-gradient(#000, #8C001A);
	}


	#types-of-whisky, #countries-of-whisky {
		width: 50%;
		float: left;
		float: left;
	}
	
	/* Desktop Viewport: Style Rules for footer */
	footer {
		clear: left;
	}
	
}

/* Large Desktop viewport media query */
@media screen and (min-width: 1921px) {
	
	#container {
		width: 1920px;
		margin: 0 auto;
	}
	
}

/* Media Query for Print */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
}